.details {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;

  h2 {
    margin-bottom: 2rem;
  }

  .info {
    margin-left: 4rem;

    .button {
      display: flex;

      button {
        padding: 1rem 2rem;
        color: #313131;
        background: white;
        border: 2px solid black;
        margin-right: 2rem;
        font-weight: 600;
        height: 3.5rem;

        &.active {
          background: linear-gradient(35deg, #494949, #313131);
          color: white;
        }
      }
    }

    h3 {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    ul {
      margin-top: 2rem;

      li {
        font-size: 1.2rem;
        line-height: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .details {
    display: block;
    margin: 2rem 0;

    img {
      width: 100%;
    }

    .info {
      margin-left: 0;

      .button {
        margin-top: 2rem;

        button {
          padding: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
