.details {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;

  .active {
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
  }

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    margin-top: 2rem;

    li {
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
  }

  .info {
    margin-left: 4rem;
    display: flex;

    button {
      padding: 1rem 2rem;
      color: #313131;
      background: white;
      border: 2px solid black;
      margin-right: 2rem;
      font-weight: 600;
      height: 3.5rem;
    }
  }
}
