@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0% 15%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin-bottom: 2rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

a {
  color: rgb(56, 56, 56);
  text-decoration: none;
}
